<div id="services" class="services">
    <div class="container">
        <div class="service-head one text-center ">
            <h4>{{'HeaderServices' | translate }}</h4>
            <h3 [innerHTML]="'TitleServices' | translate"></h3>
            <span class="border two"></span>
        </div>
        <!-- services-grids -->
        <div class="wthree_about_right_grids w3l-agile row">
            <div class="col-md-6">
                <div class="service-grid">
                    <div class="hvr-rectangle-in">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="services-content-title">
                        <h4>Web Design</h4>
                    </div>
                    <p>Website design and website development for commerce and internet advertising and  website to support SEO</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6">
                <div class="service-grid">
                    <div class="hvr-rectangle-in">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="services-content-title">
                        <h4>Maintenance</h4>
                    </div>
                    <p>I support to maintenance websites , add new function or custom old website</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- services-grids -->
    </div>
</div>
