

<div id="home" class="header">

    <div class="container">
        <!-- top-hedader -->
        <div class="top-header">
            <!-- /logo -->
            <!--top-nav---->

            <div class="banner-info row">
                <div class="col-md-7 header-right">
                    <h1>Hi !</h1>
                    <h6>Software Engineering</h6>
                    <ul class="address">

                        <li>
                            <ul class="address-text">
                                <li><b>NAME</b></li>
                                <li>{{ 'Name' | translate }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>D.O.B</b></li>
                                <li>{{ 'DOB' | translate }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>ADDRESS </b></li>
                                <li>{{ 'Address' | translate }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>E-MAIL </b></li>
                                <li><a href="mailto:{{ 'Email' | translate }}">{{ 'Email' | translate }}</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <div class="col-md-5 header-left">
                    <img src="/assets/images/img1.jpg" alt="">
                </div>
                <div class="clearfix"> </div>

            </div>
        </div>
    </div>
</div>

