<div id="work" class="work">
    <div class="container">
        <div class="service-head text-center">
            <h4>{{'HeaderExperience' | translate }}</h4>
            <h3  [innerHTML]="'TitleExperience' | translate"></h3>
            <span class="border one"></span>
        </div>
        <div class="time-main w3l-agile row">
            <div class="col-md-6 year-info">
                <ul class="year">
                    <li>Present</li>
                    <li>2018</li>
                    <li>2014</li>
                    <li>2013</li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <ul class="col-md-6 timeline">
                <li>
                    <div class="timeline-badge info"><i class="fa fa-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Manao Software Co., Ltd.</h4>
                        </div>
                        <div class="timeline-body">
                            <ul class="exp-list">
                                <li>Build the website with Web API, SQL and Angular 6.</li>
                                <li>Working with Agile software development.</li>
                                <li>Strong background in software construction methodologies sing SOLID &amp; Software Design Patterns.</li>
                                <li>Communicate with client for get a requirement and support them.</li>
                                <li>Build the system with multi-tenant software architecture support for E-Commerce applications</li>
                                <li>Set up and configure system environment.</li>
                                <li>Configuration the network for application relation management.</li>
                                <li>Custom NOP Commerce and add new features.</li>
                                <li>Strong knowledge of Clean architecture.</li>
                            </ul>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge primary"><i class="fa fa-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mycos Technologies Co., Ltd.</h4>
                        </div>
                        <div class="timeline-body">
                            <ul class="exp-list">
                                <li>Proficient working knowledge of code versioning tools such as GIT, SVN, etc.</li>
                                <li>Build the website with Web API, IONIC, Angular 2 and MVC.</li>
                                <li>Develop custom modules and interfaces in C# .net technologies.</li>
                                <li>Custom and add new Stored procedure and function in SQL.</li>
                                <li>Good teamwork.</li>
                                <li>Define and implement standards and best practices for software development.</li>
                                <li>Set up and configure system environment.</li>
                                <li>Front end application development in one or more of Angular2, JavaScript , CSS, HTM.</li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Ole Group Philippines, Inc.</h4>
                        </div>
                        <div class="timeline-body">
                            <ul class="exp-list">
                                <li>Build website support for Accounting.</li>
                                <li>Communicate with client for get a requirement and support them.</li>
                                <li>Define and implement standards and best practices for software development.</li>
                            </ul>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge success"><i class="fa fa-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">AntWebsystems Co.Ltd</h4>
                        </div>
                        <div class="timeline-body">
                            <p>
                                I was a junior software engineering. My during is a custom website in JAVA and helped the QA team to created unit tests.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
