<div class="footer" id="contact">
    <div class="container">
        <div class="service-head one text-center">
            <h4>{{'HeaderContact' | translate }}</h4>
            <h3 [innerHTML]="'TitleContact' | translate"></h3>
            <span class="border two"></span>
        </div>
        <div class="mail_us row">
            <div class="col-md-6">
                <div class="contact-grid1-left">
                    <div class="contact-grid1-left1">
                        <span class="fa fa-envelope fa-2x" aria-hidden="true"></span>
                        <h4>Contact By Email</h4>
                        <ul>
                            <li>Mail1: <a href="mailto:{{ 'Email' | translate}}">{{ 'Email' | translate}}</a></li>
                            <li>Mail2: <a href="mailto:{{ 'Email2' | translate}}">{{ 'Email2' | translate}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6">
                <div class="contact-grid1-left">
                    <div class="contact-grid1-left1">
                        <span class="fa fa-phone fa-2x" aria-hidden="true"></span>
                        <h4>Contact By Phone </h4>
                        <ul>
                            <li>Phone: +0000 123 312</li>
                            <li>Fax: +123 312</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="copy_right text-center">

            <ul class="social-icons two">
                <li><a href="https://www.facebook.com/patsak.cho" target="_blank" class="fb">  </a></li>
                <li><a href="https://www.linkedin.com/in/patsak-chompan-12a421130/" class="dott" target="_blank"> </a></li>
            </ul>
            <!-- <p>© 2019 </p> -->
        </div>
    </div>
</div>
